
<!DOCTYPE html>
{% extends 'base.html' %}
{% block mymessage %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.5;
            color: #333;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
        }

        p {
            font-size: 16px;
            margin: 50px;

        }


        .center {
            text-align: center;

        }

        .center img {
            margin: 0 auto;
            height: 50%;
            width:50%;
        }

    </style>
</head>
<body>
<h1>LT Game</h1>
    <div class="center">
        <img src="https://www.ltgame.com/media/1249/img_2546-copy.jpg">
    </div>
    <p>LT Game, a subsidiary of Paradise Entertainment Limited, is one of the major gaming products and casino solutions providers in Macau and in the world. Some of its famous and representative gaming products include the Live Multi Game System and the Paradise Jackpot System. Both products have been patented in Macau, USA and PCT countries. Innovation, multiplicity and service are the three objectives of LT Game.</p>

    <p>Gaming is a fast-tracking and competitive industry. Based on innovative ideas and technical methods, LT Game had successfully developed various electronic table gaming, live multi-gaming, award-winning betting terminal, robot dealer-ADV1 and revolutionary slot machines; LT Game not only will focus on improving the existing products but also put in numerous efforts to exploit futuristic possibilities.</p>

    <p>With the strong presence in Macau, the cutting-edge innovation and well-defined product differentiation, LT Game is positioned to become a world’s unique and leading gaming equipment and system supplier.</p>
</body>
</html>
{% endblock %}